# logsight-sdk-py         # BSD License (BSD (3 clause))
click                   # BSD License (BSD-3-Clause)
prettytable             # BSD License (BSD (3 clause))
tqdm                    # MIT License

# python-dateutil         # Apache Software License, BSD License (Dual License)
# pyparsing               # MIT License
# requests                # Apache Software License (Apache 2.0)
# gitchangelog            # BSD License (BSD 3-Clause License)
# twine                   # Apache Software License


