# logsight-sdk-py         # BSD License (BSD (3 clause))
../logsight-sdk-py
click                   # BSD License (BSD-3-Clause)
prettytable             # BSD License (BSD (3 clause))
tqdm                    # MIT License


